@import './variables.sass'
.wrapper
  font-family: $font-secondary
  position: relative
  width: 100vw
  overflow-y: hidden
  font-size: 20px
  font-weight: 400
  line-height: 1.45

.heading
  font-family: $font-primary
.header
  position: fixed
  top: 0
  left: 0
  @include flex(space-between, center)
  margin: 0 0 1rem 0
  width: 100vw
  padding: 1rem
  background-color: purple
  &-heading
    display: inline
    color: #fff


  & ul
    margin: 0

.navlink
  display: inline
  &-item
    color: #fff
    padding: .5rem
    display: inline-block
    text-align: center

.main
  max-width: 1024px
  min-height: calc(100vh - calc(73px + 1rem))
  padding: 0 1rem
  margin: calc( 73px + 1rem) auto 0
  background: #fff

.article
  margin: 1rem 0

.post
  box-shadow: 0 2px 1px #777
  padding: 1rem
  &-heading
    &-container
      @include flex(space-between, center)
  &-img
    &-container
      @include flex(center)
  &-paragraph
    padding: 1rem
    margin:  0 0 0.67em