.header
  position: fixed
  top: 0
  left: 0
  @include flex(space-between, center)
  margin: 0 0 1rem 0
  width: 100vw
  padding: 1rem
  background-color: purple
  &-logo
    text-decoration: none
    color: #fff
    cursor: pointer
    &:visited
      color: #fff
  &-heading
    display: inline
  & ul
    margin: 0
.hamburger-container
  display: none
@media screen and ( max-width: 480px )
  .header
    // flex-direction: column
    align-items: normal
    &-heading
      font-size: 20px
    & ul
      display: none
      padding: 0
  .hamburger
    &-container
      display: flex
      flex-direction: column
      justify-content: center
      width: 30px
      height: 30px
    &-inner
      display: block
      background-color: #fff
      height: 3px
      margin: 3px 0
      &:first-child
        margin-top: 0
      &:last-child
        margin-bottom: 0
  .modal-container
    position: absolute
    top: 63px
    left: 0
    justify-content: center
    align-items: center
    width: 100vw
    height: calc( 100vh - 63px )
    background: #fff0cf
    .nav-container-mobile
      @include flex(space-around, center, column)
      min-height: 400px
      padding: 0
      list-style: none
      .navlink
        color: #000
        text-decoration: none
        font-size: 24px
        padding: 1rem
@media screen and ( max-width: 340px )
  .header
    &-logo
      display: inline
    &-heading
      vertical-align: middle
      font-size: 18px