.post
  box-shadow: 0 2px 1px #777
  padding: 1rem
  margin: 5rem 0
  &-heading
    &-container
      @include flex(space-between, center)
  &-img
    &-container
      @include flex(center)
  &-paragraph
    padding: 1rem
    margin:  0 0 0.67em
